# ignore files ending with ~
*~

# ignore test python file
imagetest.py

# ignore files .swp and .swo files, used by Vim
*.swp
*.swo

# ignore picture files
*.png
*.jpg
*.bmp
*.svg
*.xcf
!hilbertcartoon.svg
!hilbertcartoon.png
!Outputbw.png

# ignore pycache
__pycache__/
